.card {
  border-radius: 10px;
  overflow: hidden;
  width: 282px;
  height: 361px;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}

.card__description-text {
  white-space: nowrap;
  overflow: hidden;
  display: block;
  text-overflow: ellipsis;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  margin-right: 34px;
  font-size: 24px;
  font-weight: 900;
  font-family: "Inter", Arial, sans-serif;
  line-height: 29px;
  flex: 1 1 100%;
  margin: 0;
}

.card__like-button {
  display: flex;
  flex: 0 0 21px;
  background: transparent url(../images/Vectorheart.svg) center no-repeat;
  border-color: transparent;
  width: 21px;
  height: 18px;

  padding-bottom: 30px;
}

/* One of the steps I have tried so far */
@media screen and (max-width: 320px) {
  .card {
    box-sizing: border-box;
    width: auto;
  }
}
