.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 19px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal_opened {
  display: flex;
}

.modal__container {
  background-color: white;
  margin: auto;
  position: relative;
  padding: 36px;
  border-radius: 10px;
}

.modal__close {
  background-color: transparent;
  cursor: pointer;
  background-image: url(../images/modalClose.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  border: none;
}

.modal__heading {
  color: #000;
  width: 330px;
  height: 23px;
  top: calc(100% + 34px);
  margin-bottom: 54px;
  left: 461px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.modal__form-title {
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  opacity: 0.2;
  margin-bottom: 57px;
  border-bottom: 1px solid #000;
}

input::placeholder {
  height: 27px;
  padding-bottom: 13px;
}
.modal__form-description {
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 48px;
  width: 100%;
  opacity: 0.2;
  border-bottom: 1px solid #000;
}

.modal__button {
  background-color: #000;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  height: 50.15px;
  width: 100%;
  left: 461px;
  top: 438.34px;
  line-height: 22px;
  text-align: center;
  border: none;
  border-radius: 2px;
  padding: 0 36px;
}

@media only screen and (max-width: 520px) {
  .modal__container {
    width: 100%;
    padding: 10px;
  }

  .modal__heading {
    font-size: 1.2rem;
  }

  .modal__form-title,
  .modal__form-description {
    padding: 5px;
    margin-bottom: 10px;
  }

  .modal__button {
    padding: 8px;
  }
}
