/* .avatar__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

.avatar__image:hover {
  opacity: 0.5;
  cursor: pointer;
}

.avatar__edit-button {
}

@media screen and (max-width: 520px) {
  .avatar__image {
    margin: 0 0 30px;
  }
} */
