.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__info {
  display: grid;
  align-items: baseline;
  grid-gap: 18px;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__edit-button {
  background: transparent url(../images/Vectoreditpen.svg) center no-repeat;
  height: 24px;
  width: 24px;
  border: 1px solid white;
  grid-area: button;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__add-button {
  background: transparent url(../images/Vectoraddbutton.svg) center no-repeat;
  height: 50px;
  width: 150px;
  border-color: white;
  border: 2px solid white;
  border-radius: 2px;
  margin-left: auto;
  cursor: pointer;
}

.profile__add-button:hover {
  opacity: 0.6;
}

.profile__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
}

.profile__description {
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
}

.profile__container {
  cursor: pointer;
  position: relative;
  margin-right: 24px;
  border-radius: 50%;
}

.profile__container:hover .profile__image {
  opacity: 0.5;
}

.profile__container:hover .profile__edit-image {
  visibility: visible;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
}

.profile__edit-image {
  all: unset;
  position: absolute;
  background: transparent url(../images/Vectoreditpen.svg) center no-repeat;
  opacity: 0.5;
  top: 0;
  left: 0;
  width: 120px;
  height: 120px;
  visibility: hidden;
}

@media screen and (max-width: 900px) {
  .profile {
    background-color: black;
    flex-direction: column;
  }
  .profile_page_section {
    padding: 40px, 40px, 0;
    box-sizing: border-box;
  }
  .profile__info {
    display: flex;
    grid-gap: 10px;
    margin-bottom: 36px;
    justify-content: center;
    flex-wrap: wrap;
    max-width: calc(100% - 38px);
  }

  .profile__add-button {
    margin: 0;
    max-width: calc(100% - 38px);
    font-size: 22px;
    line-height: 27px;
    margin-right: 10px;
    text-align: center;
  }
  .profile__description {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
  .profile__edit-button {
    height: 18px;
    width: 18px;
  }
}

@media screen and (max-width: 520px) {
  .profile__title {
    font-size: 22px;
    line-height: 27px;
    max-width: 200px;
    text-align: center;
  }

  .profile__image {
    margin: 0 0 30px;
  }

  .profile__add-button {
    width: 282px;
    margin: auto;
  }
  .profile__description {
    margin: 0 36px;
  }
}
